*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:#f4f4f4
}


.container{
    max-width: 1100px;
    padding:0 20px;
    margin: auto;
}
.btn{
    display:inline-block;
    padding:10px 20px;
    background-color: #93cb52;
    border-radius: 5%;
    border:none; 
    cursor: pointer;
}
.btn:hover{
    background-color: #93cb60;
}
.btn-dark{
    background-color: #444;
    padding:3px;
}
.text-green{
    color:#93cb52;
}

/* navbar  */
.navbar{
    background-color: #333;
    position: sticky;
    top: 0;
}
.logo,
footer h3{
    text-align: center;
    padding: 20px 0;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

/* showcase */
.showcase{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
}

.showcase .content{
    height:100vh;
    display: flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items: center;
    color:#f4f4f4;
    background-color: rgba(0,0,0,0.4);
}

.mainheading{
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
}
.showcase p{
    font-size: 1.5rem;
    line-height: 1.2;
    padding-bottom: 1.25rem;
    text-align: center;
}

/* what we do */

#what h2{
    padding: 1rem 0;
    text-align: center;
}
.info i{
    background-color: #93cb52;
    border-radius: 50%;
    padding:1rem;
    margin-right:1.25rem;
    text-align: center;
}

.info{
    display:flex;
    padding:2rem 0;
    align-items:center;
    color:#333
}

.info p{
    padding: 0.75rem 0;
}

/* who are we  */

#who{
    background-color: #333;
    color: #f4f4f4;
    display: flex;
}
 .team{
    background:url('../img/people.jpg') no-repeat center center/cover;
    flex:1;
}
 .team-info{
    flex:1;
    padding:1.25rem;
}

.team-info p{
    padding:1rem 0;
}

.team-info li{
  padding:0.5rem 0;
}

/* clients */
.clients{
    text-align: center;
    padding : 2rem 0 2rem 1rem;
}
.photo-clients{
    padding: 2rem 0;
    display: flex;
    flex:1;
}
.photo-clients img{
    display: block;
    width:60%;
}

/* contact us form  */
#contact{
    background-color: #93cb52;
    color: #f4f4f4;
}
.contact{
    padding-top:2rem;
    max-width: 80%;
    margin: auto;
}
.contact *{
    display: block;
    width: 100%;
    padding: 5px 0;
}

.contact .btn-dark{
    margin: 10px 0;
    text-align: center;
}
.contact form{
    padding-bottom: 1rem;
}

/* footer  */
footer{
    background-color: #333;
}
footer h3{
    color: #f4f4f4;
    font-size: 1rem;
}